.hamburger {
  text-align: right;
}
.hamburger__link {
  position: relative;
  display: inline-block;
  font-size: 0;
  width: 40px;
  height: 35px;
  @include phones {
    width: 26px;
    height: 23px;
  }
  &:before {
    content: '';
    box-shadow: 0 8px $color_white, 0 16px $color_white;
    position: absolute;
    width: 100%;
    height: 5px;
    background: $color_white;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
  }

  &--pressed {
    width: 29px;
    height: 29px;
    .hamburger__svg {
      display: none;
    }    


    &:before {
      box-shadow: initial;
      top: initial;
      left: 50%;
      position: absolute;
      content: ' ';
      height: 1.6rem;
      width: 4px;
      border-radius: 1rem;
      background-color: rgba($color: $color_white, $alpha: 0.9);
      transform: rotate(45deg);
    }

    &:after {
      position: absolute;
      left: 50%;
      content: ' ';
      height: 1.6rem;
      width: 4px;
      border-radius: 1rem;
      background-color: rgba($color: $color_white, $alpha: 0.9);
      transform: rotate(-45deg);
    }
  }
}
.hamburger__svg {
  fill: $color_white;
  width: 40px;
  height: 35px;
  @include phones {
    width: 26px;
    height: 23px;
  }
}
