.slider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(750px, 100vh);

  &__description {
    background-color: $color_light_gray;
    @include flex-prop;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    width: 70%;
    position: relative;
    @include font-sansus(35px, 400);
    text-transform: uppercase;
    padding-bottom: 1.5rem;

    @include wide {
      width: 50%;
    }

    &:after {
      content: ' ';
      position: absolute;
      width: 25%;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      border-bottom: 3px solid $color_dark;
    }
  }

  &__text {
    margin-top: 1.5rem;
    @include font-roboto(16px, 500);
    color: $color_green_hover;
    text-transform: uppercase;
  }
  &__link {
    margin-top: 4rem;
  }
  &__content {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70% 30%;
  }
  &__current {
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  &__preview {
    width: 80%;
    margin: 0 auto;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;

    &--prev {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      background-color: rgba(176, 183, 170, 0.7);
      &:hover {
        .slider__svg {
          top: 60%;
        }
      }
    }
    &--next {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      background-color: rgba(147, 153, 141, 0.7);
      &:hover {
        .slider__svg {
          top: 40%;
        }
      }
    }
  }

  &__svg {
    position: absolute;
    width: 43px;
    height: 27px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: $color_white;

    @include transition;
  }
}
