extends ../template

block variables
    - var title = 'Личный сайт веб разработчика Андрея Лебедева'
    - var wrapper = 'wrapper wrapper--index'

block content
    section.section.index
        .index__top
            a.button.button--login Авторизоваться
        .index__center
            .index__card
                .index__user.user
                    .user__pic
                        img(src="./assets/images/userfiles/avatars/ava_index.jpg" alt="ava_index" class="user__pic-img")
                    .user__description
                        .user__name.user__name--index Лебедев Андрей
                        .user__info Личный сайт разработчика
                .index__socials
                    - 
                        var socialLinks = [
                            ['vk',  'assets/images/sprite.svg#vk',     'https://vk.com/gygabyyyte' ],
                            ['git', 'assets/images/sprite.svg#github', 'https://github.com/GyGaByyyTe' ],
                            ['in',  'assets/images/sprite.svg#in',     'https://vk.com/gygabyyyte' ],
                        ]                      
                    include ../common/socials.pug
                    +socials('',socialLinks) 

                .index__pages
                    ul.pages
                        - 
                            var internalLinks = [
                                ['Мои работы', 'works.html'],
                                ['Обо мне',    'about.html'],
                                ['Блог',       'blog.html']
                            ]                   
                        each item in internalLinks
                            li.pages__item
                                a(href=`${item[1]}` class='pages__link') #{item[0]}
        .index__bot
            .copyright
                p © Андрей Лебедев | Cоздано с любовью в LoftSchool | 2018
