.works {
    text-align: center;
    overflow: hidden;
    height: 100%;

}
.works__header{
    margin-top: 3.3rem;
    line-height: 5rem;
    display: inline-block;
}
.works__slider {
    margin-top: 2rem;
    min-height: 750px;    
}