@import 'normalize.css/normalize';


// Импортируем все переменные, миксины и т.д.
@import "abstracts/variables";
@import "abstracts/mixins";

// Импортируем базовые стили
@import "base/fonts";
@import "base/base";

//Ипортируем Cтили для отдельных элементов страницы
//@import "layout/header";

//Ипортируем Стили отдельных компонентов
@import "components/menu";
@import "components/technologies";
@import "components/slider";

//Ипортируем Персональные стили для страниц
// @import 'pages/home';

//Ипортируем Персональные стили для тем
// @import 'themes/default';
